# Lab 5 Exercises - Lists

## Comprehension Checks

Before starting today's exercises, please spend 10 minutes to run through these comprehension checks with a partner. Each check contains a few line of Python code that you can run to get some output. Before running each piece of code, discuss with your partner what you think the output will be and why. Then run the code- is it what you expected? If not, why? Discuss with your partner, and TA if you are unsure.

In [ ]:
names = ["Martin", "Hemma", "Arthur", "Josh"]
print(names[1])

In [ ]:
names = ["Martin", "Hemma", "Arthur", "Josh"]
print(names[3])

In [ ]:
names = ["Martin", "Hemma", "Arthur", "Josh"]
print(names[4])

In [ ]:
names = ["Martin", "Hemma", "Arthur", "Josh"]
print(names[-1])

In [ ]:
names = ["Martin", "Hemma", "Arthur", "Josh"]
print(names[-5])

In [ ]:
names = ["Martin", "Hemma", "Arthur", "Josh"]
print(names[3]==names[0])

In [ ]:
numbers = [1, 4, 9, 16, 25]
print(numbers[:2])

In [ ]:
numbers = [1, 4, 9, 16, 25]
print(numbers[3:])

In [ ]:
numbers = [1, 4, 9, 16, 25]
print(numbers[1:3])

In [ ]:
numbers = [1, 4, 9, 16, 25]
print(numbers[100:200])

In [ ]:
numbers = [1, 4, 9, 16, 25]
print(numbers[:-2])

In [ ]:
numbers = [1, 4, 9, 16, 25]
print(numbers[:])

In [ ]:
numbers = [1, 4, 9, 16, 25]
print(numbers[0:4:2])

In [ ]:
numbers = [1, 4, 9, 16, 25]
print(numbers[::-1])

In [ ]:
nested_numbers = [1, [2, 3], [4, 5, 6]]
print(nested_numbers[1])
print(nested_numbers[0] - nested_numbers[2][0])

In [ ]:
names = ["Martin", "Hemma", "Arthur", "Josh"]
print('martin' in names)

In [ ]:
names = ["Martin", "Hemma", "Arthur", "Josh"]
print('Wilbur' not in names)

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
evens = [2, 4, 6, 8]
for number in numbers:
	if number in evens:
		print(number)

### Menti

Once you've finished the comprehension checks, please use menti.com (code XXX) to share how you did. Which question(s) did you find difficult?

## Exercise 1

1. Make two lists containing the values [1, 4, 9] and [1, 8, 27].
2. Double the value of the first element in each list.
3. Add the first element of the first list to the last element of the second list.
4. Make a nested list that contains both lists.

## Exercise 2

1. The following table contains data from a recent assessment. Make some lists to store this data (one list per question) and then write a loop to calculate the average mark for each question. 

| Student | Question 1 | Question 2 | Question 3 |
| :-: | :-: | :-: | :-: |
| Martin | 6 | 1 | 4 |
| Arthur | 3 | 8 | 4 |
| Hemma | 7 | 4 | 5 |
| Josh | 4 | 7 | 3 |

2. Write a loop to calculate the sum of the values in 3 x 3 matrices. What is the sum of the values in the matrix below?

$
\begin{bmatrix}
5 & 3 & 4 \\
3 & 4 & 2 \\
4 & 3 & 1
\end{bmatrix}
$

3. Write a loop that replaces each value in a matrix with its square. i.e the top left value (5) should be replaced with $5^2=25$

## Exercise 3

### cumulative sum

Write some code that given a list of numbers will create a new list where each element is the cumulative sum of numbers in the first list. I.e if we have the list of numbers ```list_of_numbers = [1, 3, 6, 10]```, then our code should create a new list ```cumulative_sum = [1, 4, 10, 16]```

## Exercise 4

1. Square numbers are defined as the numbers $n^2$ where $n$ is an integer. Write some code to create a list of all square numbers below 1000. How many are there? What is the largest number below 1000?

2. Triangular numbers $T_n$ are defined as the number of objects in an equilateral triangle with side length $n$. They are given by the formula $T_n = n(n+1)/2$.  Write some code to create a list of all triangular numbers below 1000. How many are there? What is the largest number below 1000?

3. Write some code to count how many square numbers (below 1000) are also triangular numbers.

## Exercise 5

### Planetary Data

| Planet  | Diameter (km) | Mass  | Rotation period |
|-----|-----|-----|-----|
|Mercury | 4,878           | 0.06   |58.65 (d) | 
 Venus   | 12,100          | 0.82  | 243 (d) |  
 Earth   | 12,756         | 1.00  | 23.934 (h) | 
 Mars    | 6,794          | 0.11  | 24.623 (h) | 
 Jupiter | 142,800        | 317.89 | 9.842  (h) | 
 Saturn  | 120,000        | 95.17 | 10.233 (h) | 
 Uranus  | 52,400         | 14.56| 16 (h) | 
 Neptune | 48,400         | 17.24 | 18 (h) | 
 Pluto   | 2,445          | 0.002 | 6.39 (d) | 


Planet data taken from: https://www.rmg.co.uk/stories/topics/solar-system-data}

1. Write a program that identifies and prints the name and density  (in kg m$^{-3}$) of the planet with the lowest density. Assume each planet is a perfect sphere

2. Write a program that identifies and outputs the names and rotation periods of planets with a rotation period shorter than Earth's.